body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media (width > 1100px) {
    .main {
        flex-direction: row;
        align-items: flex-start;
    }
}

.copyright {
    font-size: 14px;
    color: #444;
    text-align: center;
}
.copyright :hover {
    color: #555;
}

.footer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #30c5ff;
}

.rs-logo {
    display: block;
    width: 80px;
}
